body{
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
}
#card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 765px;
    border-radius: 20px;
    background-color: #fff;
    justify-content: space-between;
}
.top-img img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}